<!--
    Esta página se mostrará cuando la ruta no coincida con ninguna otra página
-->
{{> navBar this}}
{{> header this}} <!-- Encabezado -->
{{> mensajes this}}
<div class="container">
    <h2>La página que busca no existe o no tiene permitido el acceso</h2>
</div>
{{> footer this}}  <!-- Pie de página -->